parameters:
  level: 8
  paths:
    - src
  bootstrapFiles:
    - tools/phpstan-bootstrap.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  checkGenericClassInNonGenericObjectType: false
